<div class="d-block w-100">  
    <table class = "table table-hover table-borderd">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Deadline</th>
                <th scope="col">Opcje</th>
            </tr>
    </thead>
    <tbody>
               {%for task in tasks %}
                <tr>
                    <td>
                        {{task.title}}
                    </td>
                    <td>
                        {{task.description}}
                    </td>
                    <td>
                        {{task.deadline}} 
                    </td>
                    <td>
                        <a href="{{url_for('tasks.delete_task',task_id=task.id)}}">Delete</a>
                        
                        <a href="{{url_for('tasks.updateTask', task_id=task.id)}}">Edit</a>
                    </td>
                </tr>
                {%endfor%}        
                <tr>         
                    {{ form.hidden_tag() }}
                    <td>
                        {{ form.title(class="form-control") }}
                    </td>
                    <td>
                        {{ form.description(class="form-control") }}
                    </td>
                    <td>
                        {{form.deadline(class="form-control")}}
                    </td>
                    <td>
                        {{ form.submit(class="btn btn-success") }}
                    </td>               
                </tr>
    </tbody>
    </table>
        
</div>
