#blok, #reg{
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;     
}

#blok2{
    width: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;

}

#bg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100%;
}


@media all and (max-width: 1066px){
    #blok, #reg{
        width: 85%;
    }

}