.navbar{
    background-color: gray;
}
#bod{
    background-color: gainsboro;
    font-family: "Garamond";
}

p{
    text-align: center;
    font-size: larger;
}

.row{
    border: 0.5em solid;
    border-radius: 1em;
    margin: 2em;
    padding: 1em;
    background-color: rgb(114, 210, 136);
}

h4{
    font-weight: bold !important;
}

#hi{
    background-color: aliceblue;
    width: 100%;
    
}

#tytul{
    font-weight: bold;
    font-size: 2em;
}